
# IDE
.idea
*.iml
*.ipr
*.iws
.project
.classpath
.settings

# Build outputs
**/target/
**/build/
*.jar
*.war
*.ear

# OS junk
.DS_Store
Thumbs.db

charts/*/charts/
charts/*/Chart.lock.backup

k8s/infra/registry/values-dev.yaml
k8s/infra/registry/values-test.yaml
k8s/infra/registry/values-prod.yaml


env/dev/*-secrets.yaml
env/test/*-secrets.yaml
env/prod/*-secrets.yaml

jenkins_home/

